<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSS Feed Reader</title>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-sanitize.js"></script>
    <script src="Scripts/FeedReader/Controller.js"></script>
    <script src="Scripts/FeedReader/Factory.js"></script>
    <link href="Content/CSS/Main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="pageOuterContainer">
        <div class="pageInnerContainer">
            <div class="headerOuterDiv">
                <h3>RSS Feed Reader</h3>
            </div>

            <div ng-app="FeedApp" ng-controller="FeedController">
    <form ng-submit="getFeed(defaultFeedSrc)" style="margin:10px;">
        <label for="txtFeedUrl">Please enter a valid feed url</label><br />
        <input type="url" id="txtFeedUrl" ng-model="defaultFeedSrc" required />
        <button type="submit" id="downloadButton" class="btn">
            download
        </button>
    </form>
    <div class="inlineFeedItem" ng-repeat="item in CurrentFeed">
        <img tag="properImage" ng-show="item.thumbnail != ''" src="{{item.thumbnail}}" style="float:left;padding-right:10px;" />
        <img tag="missingImage" ng-show="item.thumbnail == ''" style="float:left;padding-right:10px;"
              src="https://tctechcrunch2011.files.wordpress.com/2017/03/applebite.jpg?w=210&amp;h=158&amp;crop=1" />
        <h2 ng-click="showItemDescription(item)">{{item.title}}</h2>
    </div>

    <div id="movingDiv" class="transition" ng-class="SelectedItem != null ? 'show' : 'hide'">
        <h2>
            <span class="btn fr closeButton" ng-click="hideItemDescription();"></span>
            {{SelectedItem.title}}
        </h2>
        <span class="glyphicons glyphicons-exit" ng-click="hideItemDescription();"></span>
        <p ng-bind-html="SelectedItem.description">{{SelectedItem.description}}</p>
    </div>

</div>


        </div>
    </div>

</body>
</html>