﻿
#movingDiv {

    height: 80%;
    
    left: 10%;
    right: 10%;
    padding:10px;

    overflow-y: scroll;
    overflow-x: hidden;

    @include border-radius;

    background: $silver;

}

#movingDiv img {
    float:left;
    padding-right:10px;
}

.hide {
    position: fixed;
    bottom: -80% !important;
}

.show {
    position: fixed;
    bottom: 10%;
}

.inlineFeedItem {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.inlineFeedItem h2 {
    margin-top:0px;
    padding-top:0px;
    cursor:pointer;
}