﻿.btn {
    cursor:pointer;
}

.fr {
    float:right;
}

#downloadButton {
    padding: 5px;
    border-radius: 10px;
    color: white;
    background: $blue;
    cursor:pointer;
}

.closeButton {
    margin-right:30px;
    cursor:pointer;
    color: #fff;
    height: 4px;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 13px 7px;       
}

.closeButton:before {
    content: "×";
}