﻿body {
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
}

.pageOuterContainer {
    width:80%;
    height:100%;
    margin:auto;
    background:$silver;
    @include border-radius;
}

.transition {
    @include transition;
}
