﻿
@mixin transition($speed:all .5s ease) {
  -webkit-transition: $speed;
     -moz-transition: $speed;
      -ms-transition: $speed;
          transition: $speed;
}

@mixin border-radius($radius: 20px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}