/* line 1, ../SCSS/_general.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 6, ../SCSS/_general.scss */
a {
  text-decoration: none;
}

/* line 10, ../SCSS/_general.scss */
.pageOuterContainer {
  width: 80%;
  height: 100%;
  margin: auto;
  background: #c4b4e5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

/* line 18, ../SCSS/_general.scss */
.transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 1, ../SCSS/_header.scss */
.headerOuterDiv {
  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
}

/* line 2, ../SCSS/_blocks.scss */
#movingDiv {
  height: 80%;
  left: 10%;
  right: 10%;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  background: #c4b4e5;
}

/* line 19, ../SCSS/_blocks.scss */
#movingDiv img {
  float: left;
  padding-right: 10px;
}

/* line 24, ../SCSS/_blocks.scss */
.hide {
  position: fixed;
  bottom: -80% !important;
}

/* line 29, ../SCSS/_blocks.scss */
.show {
  position: fixed;
  bottom: 10%;
}

/* line 34, ../SCSS/_blocks.scss */
.inlineFeedItem {
  display: inline-block;
  width: 100%;
  padding: 10px;
}

/* line 40, ../SCSS/_blocks.scss */
.inlineFeedItem h2 {
  margin-top: 0px;
  padding-top: 0px;
  cursor: pointer;
}

/* line 1, ../SCSS/_buttons.scss */
.btn {
  cursor: pointer;
}

/* line 5, ../SCSS/_buttons.scss */
.fr {
  float: right;
}

/* line 9, ../SCSS/_buttons.scss */
#downloadButton {
  padding: 5px;
  border-radius: 10px;
  color: white;
  background: #162b5f;
  cursor: pointer;
}

/* line 17, ../SCSS/_buttons.scss */
.closeButton {
  margin-right: 30px;
  cursor: pointer;
  color: #fff;
  height: 4px;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 13px 7px;
}

/* line 32, ../SCSS/_buttons.scss */
.closeButton:before {
  content: "×";
}

/* line 1, ../SCSS/_typography.scss */
#txtFeedUrl {
  min-width: 300px;
  padding: 5px;
}
